/* external css: flickity.css, fullscreen.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #222;
}

.home {
    width: 100%;
}

.imgCarousel {
    width: 600px;
    height: 330px;
    margin-right: 10px;
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgCarousel-1 {
    @extend .imgCarousel;
    background-image: url('./../../images/carousel/pizza-4.jpg');
}

.imgCarousel-2 {
    @extend .imgCarousel;
    background-image: url('./../../images/carousel/pizza-5.jpg');
}

.imgCarousel-3 {
    @extend .imgCarousel;
    background-image: url('./../../images/carousel/pizza-6.jpg');
}

.carousel-wrapper {
    margin: 0 auto;
    max-width: 930px;
}

.carousel-text {
    width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.carousel-cell {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
}

/* --- Gallery --- */

.gallery {
    max-width: 1000px;
    margin: 60px auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image {
    background-image: url('./../../images/carousel/pizza-6.jpg');
    width: calc(33.33% - 10px); /* 33.33% width with 10px margin between images */
    height: 0;
    padding-bottom: 33.33%; /* Create a square aspect ratio (1:1) */
    background-color: #ddd; /* Placeholder background color */
    margin-right: 10px; /* Add some margin between images */
}

/* Clear the margin on the last image in a row */
.row .image:last-child {
    margin-right: 0;
}

// .carousel.is-fullscreen .carousel-cell {
//   height: 100%;
// }

// .carousel-cell-image {
//   display: block;
//   max-height: 100%;
// }

// .carousel.is-fullscreen .carousel-cell-image {
//   max-width: 100%;
// }
