
.imgCarousel {
    display: flex;
    width: 660px;
    height: 320px;
    background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.imgCarousel-1 {
    @extend .imgCarousel;
    background-image: url('./../../images/carousel/pizza-4.jpg');
}

.imgCarousel-2 {
    @extend .imgCarousel;
    background-image: url('./../../images/carousel/pizza-5.jpg');
}

.imgCarousel-3 {
    @extend .imgCarousel;
    background-image: url('./../../images/carousel/pizza-6.jpg');
}